alias i='cd ~/code/ironboard'
alias c='cd ~/code'
alias l='ls -hAlFG'
alias push='git push origin $(git rev-parse --abbrev-ref HEAD 2>/dev/null)'
alias dps='docker ps -a --format "table {{.ID}}\t{{.Names}}\t{{.Status}}"'
alias path='echo $PATH | tr -s ":" "\n"'
alias v='vim .'
alias hb='hub browse'
alias dps='docker ps --format "table {{.ID}}\t{{.Names}}\t{{.Status}}"'
alias cssh='i2cssh -c'
alias mkdir='mkdir -p'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'
alias reload='source ~/.zshrc'
