alias Desktop='cd ~/Desktop'
alias desktop='cd ~/Desktop'
alias desk='cd ~/Desktop'
alias Downloads='cd ~/Downloads'
alias downloads='cd ~/Downloads'
alias down='cd ~/Downloads'

alias path='echo $PATH | tr -s ":" "\n"'
alias v='vim'
alias v.='vim .'
alias hb='hub browse'
alias be='bundle exec'
alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'
alias -- -='cd -'
alias t='tree -axCFL 10 -I "target|node_modules|_build|.git" | less -R'
alias ts='tree -shaxCFL 10 -I "target|node_modules|_build|.git" | less -R'
alias cat=bat
alias l='exa -la --git --group-directories-first'
alias fd=fdfind

# Docker
alias dps='docker ps --format "table {{.ID}}\t{{.Names}}\t{{.Status}}"'
alias dc='docker-compose'

alias mkdir='mkdir -p'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'
alias reload='source ~/.zshrc'
alias dotfiles='cd ~/.dotfiles'
alias http='ruby -run -e httpd -- -p 5000 .'
alias https='hs --ssl --cert ~/.ssl/localhost.crt --key ~/.ssl/localhost.key -a localhost -o'

# Hidden File Visibility
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'

# Rust
alias rust='cd ~/code/rust'

# Prolog
alias prolog='cd ~/code/prolog'

# Oso
alias oso='cd ~/work'
alias work='cd ~/work'
alias demo='cd ~/work/demo'

# apps
alias ngrok='~/apps/ngrok'

alias notes='touch ~/Documents/notes/$(date +"%Y-%m-%d").md && vim ~/Documents/notes/$(date +"%Y-%m-%d").md'
alias note='notes'
