alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'

# Docker
alias dps='docker ps --format "table {{.ID}}\t{{.Names}}\t{{.Status}}"'
alias dc='docker-compose'

# alias http='ruby -run -e httpd -- -p 5000'

alias notes='touch ~/Documents/notes/$(date +"%Y-%m-%d").md && if [ ! -s ~/Documents/notes/$(date +"%Y-%m-%d").md ]; then echo "# $(date +"%a %d %b %Y")" >> ~/Documents/notes/$(date +"%Y-%m-%d").md; fi && echo "\n## $(date +"%H:%M")\n" >> ~/Documents/notes/$(date +"%Y-%m-%d").md && vim ~/Documents/notes/$(date +"%Y-%m-%d").md'
alias note='notes'

alias redis='redis-server /usr/local/etc/redis.conf'

for i in {10..15}; do
  alias node${i}="npx node@${i}"
done
